@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Work+Sans');

@media (max-width: 400px) {
    .front-featured-container {
      display: block;
    }
  }

.page-container {
    margin: 4%;
}


.section-header {
    text-align: left;
    font-size: 1.3em;
    letter-spacing: 1px;
    margin: 3%;
}

.intro-box {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 10%;
    padding: 2%;
    font-size: 1.2em;
    border: 2px solid black;
    /* background: linear-gradient(60deg, red, yellow, red, yellow, red);} */
}
.intro-box h3 {
    letter-spacing: 1px;
    /* -webkit-background-clip: text;
    background-clip: text; */
    color: black;
    }


