.featured-card {
    flex: 1;
}
.image-caption h4 {
    margin: 0px;
    font-size: 1.1em;
}

.image-caption {
    margin: 1%;
}

.featured-image {
    width: 100%;
    max-height: inherit;
    object-fit: contain;
    border: 1px solid black;
}

.featured-image-container {
    max-height: 300px;
}

.artworks-panel {
    padding: 5% !important;
}

.artwork-caption h5 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 12px;
}