.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-family: 'Work Sans', sans-serif;
  padding: 5px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

button:hover {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

p {
  font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Archivo Black', sans-serif;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Work Sans', sans-serif;
  font-size: 14; /* Firefox */
}